
.container{
    display:grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgba(135, 127, 173, 0.301);
    width: 25vw;
    height: 60vh;
    margin-left:300px;
    margin-top: 180px;
    position:relative;
    box-sizing: border-box;
}
@media  screen and (max-width:900px) {
    .container{
        display:grid;
        grid-template-columns: auto auto auto auto;
        background-color: rgba(135, 127, 173, 0.301);
        width: 75vw;
        height: 90vh;
        margin:auto;
        position:relative;
        box-sizing: border-box;
    }
}
@media  screen and (max-width: 600px) {
    .container{
        display:grid;
        grid-template-columns: auto auto auto auto;
        background-color: rgba(135, 127, 173, 0.301);
        width: 95vw;
        height: 100vh;
        margin:0px;
        position:relative;
        box-sizing: border-box;
    }
}

.display{
    grid-column-start: 1;
    grid-column-end: 5;
    border: 1px solid rgba(0, 0, 0, 0.8);
    position: relative;
}
.bottom{
    position: absolute;
    font-size: 30px;
    right: 0px;
    bottom:0px ;
}
.btn{
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(80, 75, 105, 0.301);
}
.btn.orange:hover{
    background-color: rgb(184, 121, 6);
}
.center{
    position: absolute;
    left:40%;
    top:40%
}
.zero{
    grid-column-start: 1;
    grid-column-end: 3;
}
.orange{
    background-color: orange;
}
